html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000088; 
}

.load-menu{
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  background-color: rgb(113, 79, 145);
  border-radius: 10px;
  width: 250px;
  position: absolute;
  top: 30px;
  right: 50px;  /* Open the save menu on the left */
  z-index: 2;
}

.saveoption {
  display: flex;
  flex-direction: column;
  gap: 3px;
  z-index: 2;
  width: 100%;
 
}
.save-menu label{
  font-style: italic;
}
.saveoption input,select {
  width:90%;
  border-radius: 10px;
  height:25px;
  background: white;
  color: black;
  
}
.saveoption input:active , select:active{
  background: linear-gradient(rgb(176, 4, 176),pink);
}
.saveoption select{
  width:93%
}

.save-menu {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  background-color: rgb(241, 163, 241);
  border-color: rgb(85, 11, 85);
  border-radius: 10px;
  width: 290px;
  position: absolute;
  top: 30px;
  right: 50px;  /* Open the save menu on the left */
  z-index: 2;
  transition: 0.2s;
}
.windowpaper {
  height: 100%;
  width:100%;
  position: fixed;
  border-radius: 10px;
  padding: 10px;
  z-index: 1;
}
.bar_onside {
  position: fixed;
  top: 50%; /* Centers the bar vertically */
  right: 20px; /* Positions the bar on the right */
  transform: translateY(-50%); /* Ensures the bar is vertically centered */
  height: 250px;
  width: 50px;
  border-radius: 10px;
  display: flex;
  box-sizing: border-box;
  gap: 20px;
  flex-direction: column;
  padding: 10px;
  background-color: rgb(241, 163, 241);
  z-index: 2;
}

.bar_onbottom {
  position: fixed;
  bottom: 20px; /* Positions the bar at the bottom of the viewport */
  left: 50%; /* Centers the bar horizontally */
  transform: translateX(-50%); /* Adjusts for the width to ensure it's centered */
  height: 50px;
  width: 390px;
  border-radius: 10px;
  display: flex;
  box-sizing: border-box;
  gap: 25px;
  flex-direction: row;
  padding: 10px;
  background-color: rgb(241, 163, 241);
  z-index: 2;
}
button.icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:white;
  border: 2px solid #ccc;
  padding: 5px;
  cursor: pointer;
  outline: none;
  position: relative;
  z-index: 2;
}

button.icon:hover {
   background: rgb(250, 210, 253);
 
  transform: scale(1.1);
}

button.icon:active {
  background-color: #db73e2;
}

button.icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.icon-name {
  
  opacity: 1;
  background-color: hsla(291, 90%, 75%, 0.507);
  color: rgba(0, 0, 0, 0.541);
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: fixed;
  top: 10px;  
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 3;  
  transition: opacity 0.3s ease-in-out;
 border-radius: 10px;
}




button.color{
  
  width: 30px; 
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  left: 60px;
  border: 2px solid #f7f5f7; 
  padding: 5px;
  cursor: pointer;
  outline: none;
  z-index: 2;
}
.menu-options {
  
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  background-color: plum;
  border-radius: 10px;
  width: 250px;
  position: absolute;
  top: 30px;
  left: 50px;
  z-index: 2;
 
}

.option {
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 2;
}

.option label {
  font-size: 14px;
  color: #141414;
}

.option input {
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.option span {
  font-size: 14px;
  color: #0a0a0a;
}
button.border{
  
  width: 30px; 
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fbf8f8; 
  padding: 5px;
  cursor: pointer;
  outline: none;
  left: 30px;
  z-Index: 10;
}
.baronleft{
  position: fixed;
  top: 35%;       
  left: 20px;  
  height: 200px;
  width: 50px;
  border-radius: 10px;
  display: flex;
  box-sizing: border-box;
  gap: 20px; 
  flex-direction: column;
  padding: 10px;
  background-color: plum;
  z-index: 2;
}

#save{
  background:linear-gradient(rgba(207, 129, 228, 0.582),white);
  color: black;
}